<!-- component -->
<!-- This is an example component -->
<div class="w-full">
  <header class="bg-teal-400">
    <nav class="flex justify-between w-full bg-blue-500 text-white p-4">
      <a href="#"
        ><span class="font-semibold text-xl tracking-tight"
          >Core Health</span
        ></a
      >
      <div class="md:items-center md:w-auto flex">
        <div class="md:flex hidden">
          <a class="block md:text-white mr-4" routerLink="Home">Home</a>
          <a class="block md:text-white mr-4" routerLink="/services"
            >Servicios</a
          >
          <a class="block md:text-white mr-4" routerLink="/doctors"
            >Doctores
          </a>
          <a class="block md:text-white mr-4" routerLink="/patients"
            >Pacientes</a
          >
          <a class="block md:text-white mr-4" routerLink="/medications"
            >Medicamentos</a
          >
          <a class="block md:text-white mr-4" routerLink="/Clinics"
            >Clinicas</a
          >
        </div>
      </div>
    </nav>
  </header>
</div>
